<!-- One Way Data Binding -->
<!-- {{}} intuplation -->
<!-- <h1>Hello I am {{name}} and my age is {{age}}</h1> -->

<!-- Property Binding ([property]) -->
<!-- <img [src]=image alt="image" [width]=width [style.border-top]="1"> -->

<!-- event binding [(event name)] -->
<!-- <input type="text" #myVar (keyup.enter)="setData(myVar.value)" placeholder="type here" value=""> | -->
<!-- <button (click)="printData()">Print Data</button> -->

<!-- Two way Data Binding -->
<!-- <input type="text" placeholder="type here" [(ngModel)]="name">
<hr>
my name is {{name}} -->

