.outer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  width: 400px;
  height: auto;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px;
}

.form-field {
  width: 100%;
}

.social-outer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.text {
  text-align: center;
}

.submit-login {
  width: 100%;
}
